In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import interp
import scipy.stats
import warnings
from datetime import datetime
from sklearn.preprocessing import QuantileTransformer
import subprocess
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.activations import relu
import tensorflow as tf
warnings.simplefilter("ignore")

In [2]:
def timestamp(): return datetime.today().strftime('%Y%m%d')

In [3]:
def quantile_scale(df,feats):
    qua = df
    scaler = QuantileTransformer(
        n_quantiles=10,
        random_state=42,
        ignore_implicit_zeros=True, #sparse matrix
    )
    # fit the scaler
    scaler.fit(qua[feats])
    # transform values
    qua[feats] = scaler.transform(qua[feats])
    return qua

In [4]:
def tiered(classes):
    trans = []
    for x in classes:
        if x==1: c=0
        if x==2: c=1
        if x>=3 and x<=4: c=2
        if x>=5 and x<=7: c=3
        if x>=8: c=4
        trans.append(c)
    return trans

In [5]:
def merge_feats(episode):
    subprocess.run(f'bash src/get_data_ready.sh {episode}', shell=True)
    merge_col = ['season','baker','episode']
    tech = pd.read_csv(f"deepbake_s12_technical_features.tsv",sep="\t")
    star = pd.read_csv(f"deepbake_judge_features_s12_e{episode}.tsv",sep="\t")
    gbbo = pd.merge(tech, star,  how='left', left_on=merge_col, right_on =merge_col).drop_duplicates()
    gbbo = gbbo[['season','baker','episode','tech_mean','tech','mean_star','star','mean_good','good','mean_bad','bad']]
    gbbo.to_csv(f"deepbake_features_s12_e{episode}.tsv",sep="\t",index=False)

In [6]:
def process_episode(episode):
    merge_feats(episode)
    gbbo = pd.read_csv(f"deepbake_features_s12_e{episode}.tsv",sep="\t")
    feats = ['tech_mean','tech','mean_star','star','mean_good','good','mean_bad','bad']
    gbbo = gbbo.loc[gbbo['episode']==episode]
    gbbo = quantile_scale(gbbo,feats)
    return gbbo

In [7]:
def get_training_set(episode):
    tech = pd.read_csv("../../RESULTS/deepbake_features.20210926.tsv",sep='\t')
    tech = tech.loc[tech['episode']==episode]
    feats = ['tech_mean','tech','mean_star','star','mean_good','good','mean_bad','bad']
    qua = quantile_scale(tech,feats)
    qua['place']=tiered(qua['place'])
    X, y = np.matrix(qua[feats]), np.array(qua['place'])
    return X,y

In [8]:
def create_model( nl1=1, nl2=1,  nl3=1, 
                 nn1=1000, nn2=500, nn3 = 200, lr=0.01, decay=0., l1=0.01, l2=0.01,
                act = 'relu', dropout=0,input_shape=None,output_shape=None):    
    '''This is a model generating function so that we can search over neural net 
    parameters and architecture
    https://www.kaggle.com/arrogantlymodest/randomised-cv-search-over-keras-neural-network
    '''
    opt = tf.optimizers.Adam(lr=lr, beta_1=0.9, beta_2=0.999,  decay=decay)
    reg = keras.regularizers.l1_l2(l1=l1, l2=l2)
    model = Sequential()
    first=True  
    for i in range(nl1):
        if first:
            model.add(Dense(nn1, input_dim=input_shape, activation=act, kernel_regularizer=reg))
            first=False
        else: 
            model.add(Dense(nn1, activation=act, kernel_regularizer=reg))
        if dropout!=0:
            model.add(Dropout(dropout))    
    for i in range(nl2):
        if first:
            model.add(Dense(nn2, input_dim=input_shape, activation=act, kernel_regularizer=reg))
            first=False
        else: 
            model.add(Dense(nn2, activation=act, kernel_regularizer=reg))
        if dropout!=0:
            model.add(Dropout(dropout))    
    for i in range(nl3):
        if first:
            model.add(Dense(nn3, input_dim=input_shape, activation=act, kernel_regularizer=reg))
            first=False
        else: 
            model.add(Dense(nn3, activation=act, kernel_regularizer=reg))
        if dropout!=0:
            model.add(Dropout(dropout))       
    model.add(Dense(output_shape, activation='softmax'))
    model.compile(loss='sparse_categorical_crossentropy', optimizer=opt, metrics=['accuracy'],)
    return model

In [9]:
def deep_bake(episode):
    feats = ['tech_mean','tech','mean_star','star','mean_good','good','mean_bad','bad']
    tech = pd.read_csv("../../RESULTS/deepbake_features.20210926.tsv",sep='\t')
    tech['place']=tiered(tech['place'])
    input_shape = len(feats)
    output_shape = len(set(tech['place']))

    l1 = 0.0001
    l2 = 0.0001
    lr = 0.0001
    nl1 = 1
    nl2 = 1
    nl3 = 1
    nn1 = 800
    nn2 = 800
    nn3 = 300
    dropout = 0.1
    decay = 1e-09
    act='relu'
    n_dims = len(feats)
    n_classes = len(set(tech['place']))
    BATCH,EPOCHS = 12, 25
    
    GBBO = pd.read_csv(f"deepbake_features_s12_e{episode}.tsv",sep="\t")
    S11 = pd.DataFrame()
    
    gbbo = GBBO.loc[GBBO['episode']==episode].copy()
    gbbo = quantile_scale(gbbo,feats)
    test = np.matrix(gbbo[feats])

    tech2 = tech.loc[tech['episode']==episode].copy()
    qua = quantile_scale(tech2,feats)
    qua['place']=tiered(qua['place'])

    X, y = np.matrix(qua[feats]), np.array(qua['place'])

    nn = create_model( nl1=nl1, nl2=nl2,  nl3=nl3, 
                     nn1=nn1, nn2=nn2, nn3 = nn3, 
                     lr=lr, decay=decay, l1=l1, l2=l2,
                     act = act, dropout=dropout,
                     input_shape=n_dims,
                     output_shape=n_classes)

    nn.fit(X,y,validation_split=0., batch_size=BATCH, epochs=EPOCHS,verbose=0)
    preds = np.argmax(nn.predict(test) > 0.5, axis=-1).astype("int32")
    probs = nn.predict(test)
    gbbo['preds']=preds
    # probability baker is a finalist
    top = probs[:,0]
    # probability baker is a finalist or a runner-up
    top3 = probs[:,0]+probs[:,1]
    # bottom tier (8th and below)
    bot = probs[:,-1]
    # 5th - 7th
    nextbot = probs[:,-2]
    third = probs[:,-3]

    gbbo['bottom']=np.round(bot*100,decimals=2)
    gbbo['finalist']=np.round(top*100,decimals=2) 
    gbbo['top3'] = np.round(top3*100,decimals=2)
    gbbo['fifthseventh'] = np.round(nextbot*100,decimals=2)
    gbbo['thirdforth'] = np.round(third*100,decimals=2)
    gbbo.to_csv(f"deepbake_s12.week{episode}_predictions.tsv",sep="\t",index=False)

    return gbbo

In [10]:
episode=6
process_episode(episode)

,season,baker,episode,tech_mean,tech,mean_star,star,mean_good,good,mean_bad,bad
5,12,Amanda,6,0.934426,0.818182,0.000000,0.0,0.000000,0.0,1.000000,1.0
12,12,Chigs,6,0.720588,0.636364,0.777778,0.0,0.500000,0.0,0.000000,0.0
19,12,Crystelle,6,1.000000,0.545455,0.777778,1.0,0.777778,1.0,0.000000,0.0
26,12,Freya,6,0.271906,0.000000,0.000000,0.0,0.777778,0.0,0.666667,0.0
33,12,George,6,0.832200,0.909091,0.000000,0.0,0.500000,0.0,0.888889,1.0
40,12,Giuseppe,6,0.382609,0.727273,1.000000,0.0,1.000000,1.0,0.000000,0.0
47,12,Jairzinho,6,0.111111,0.000000,0.000000,0.0,0.000000,0.0,0.666667,0.0
54,12,Jürgen,6,0.111111,0.454545,1.000000,0.0,0.909589,0.0,0.000000,0.0
61,12,Lizzie,6,0.524011,1.000000,0.000000,0.0,0.500000,0.0,0.000000,0.0
68,12,Maggie,6,0.451977,0.000000,0.000000,0.0,0.500000,0.0,0.888889,0.0
75,12,Rochica,6,0.636694,0.000000,0.000000,0.0,0.000000,0.0,0.501684,0.0
82,12,Tom,6,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.501684,0.0

In [11]:
df = deep_bake(episode)

In [12]:
eliminated = [
    'Tom',
    'Jairzinho',
    'Rochica',
    'Maggie',
    'Freya'
]

df[~df['baker'].isin(eliminated)].sort_values(['fifthseventh'],ascending=False)

,season,baker,episode,tech_mean,tech,mean_star,star,mean_good,good,mean_bad,bad,preds,bottom,finalist,top3,fifthseventh,thirdforth
61,12,Lizzie,6,0.524011,1.000000,0.000000,0.0,0.500000,0.0,0.000000,0.0,0,0.72,42.650002,81.220001,0.98,17.080000
54,12,Jürgen,6,0.111111,0.454545,1.000000,0.0,0.909589,0.0,0.000000,0.0,0,0.44,53.730000,75.320000,0.57,23.670000
12,12,Chigs,6,0.720588,0.636364,0.777778,0.0,0.500000,0.0,0.000000,0.0,0,0.38,52.900002,75.800003,0.53,23.290001
40,12,Giuseppe,6,0.382609,0.727273,1.000000,0.0,1.000000,1.0,0.000000,0.0,0,0.11,43.470001,81.480003,0.17,18.250000
19,12,Crystelle,6,1.000000,0.545455,0.777778,1.0,0.777778,1.0,0.000000,0.0,0,0.07,29.480000,58.720001,0.09,41.119999
33,12,George,6,0.832200,0.909091,0.000000,0.0,0.500000,0.0,0.888889,1.0,2,0.02,5.610000,23.969999,0.02,75.989998
5,12,Amanda,6,0.934426,0.818182,0.000000,0.0,0.000000,0.0,1.000000,1.0,2,0.01,0.630000,5.310000,0.00,94.680000

In [13]:
df[~df['baker'].isin(eliminated)].sort_values(['top3'],ascending=False)

,season,baker,episode,tech_mean,tech,mean_star,star,mean_good,good,mean_bad,bad,preds,bottom,finalist,top3,fifthseventh,thirdforth
40,12,Giuseppe,6,0.382609,0.727273,1.000000,0.0,1.000000,1.0,0.000000,0.0,0,0.11,43.470001,81.480003,0.17,18.250000
61,12,Lizzie,6,0.524011,1.000000,0.000000,0.0,0.500000,0.0,0.000000,0.0,0,0.72,42.650002,81.220001,0.98,17.080000
12,12,Chigs,6,0.720588,0.636364,0.777778,0.0,0.500000,0.0,0.000000,0.0,0,0.38,52.900002,75.800003,0.53,23.290001
54,12,Jürgen,6,0.111111,0.454545,1.000000,0.0,0.909589,0.0,0.000000,0.0,0,0.44,53.730000,75.320000,0.57,23.670000
19,12,Crystelle,6,1.000000,0.545455,0.777778,1.0,0.777778,1.0,0.000000,0.0,0,0.07,29.480000,58.720001,0.09,41.119999
33,12,George,6,0.832200,0.909091,0.000000,0.0,0.500000,0.0,0.888889,1.0,2,0.02,5.610000,23.969999,0.02,75.989998
5,12,Amanda,6,0.934426,0.818182,0.000000,0.0,0.000000,0.0,1.000000,1.0,2,0.01,0.630000,5.310000,0.00,94.680000

In [14]:
df[~df['baker'].isin(eliminated)].sort_values(['finalist'],ascending=False)

,season,baker,episode,tech_mean,tech,mean_star,star,mean_good,good,mean_bad,bad,preds,bottom,finalist,top3,fifthseventh,thirdforth
54,12,Jürgen,6,0.111111,0.454545,1.000000,0.0,0.909589,0.0,0.000000,0.0,0,0.44,53.730000,75.320000,0.57,23.670000
12,12,Chigs,6,0.720588,0.636364,0.777778,0.0,0.500000,0.0,0.000000,0.0,0,0.38,52.900002,75.800003,0.53,23.290001
40,12,Giuseppe,6,0.382609,0.727273,1.000000,0.0,1.000000,1.0,0.000000,0.0,0,0.11,43.470001,81.480003,0.17,18.250000
61,12,Lizzie,6,0.524011,1.000000,0.000000,0.0,0.500000,0.0,0.000000,0.0,0,0.72,42.650002,81.220001,0.98,17.080000
19,12,Crystelle,6,1.000000,0.545455,0.777778,1.0,0.777778,1.0,0.000000,0.0,0,0.07,29.480000,58.720001,0.09,41.119999
33,12,George,6,0.832200,0.909091,0.000000,0.0,0.500000,0.0,0.888889,1.0,2,0.02,5.610000,23.969999,0.02,75.989998
5,12,Amanda,6,0.934426,0.818182,0.000000,0.0,0.000000,0.0,1.000000,1.0,2,0.01,0.630000,5.310000,0.00,94.680000